body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:100px;
  width:332px;
  height:339px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:339px;
}
#u1 {
  position:absolute;
  left:2px;
  top:162px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:114px;
  top:403px;
  width:90px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:154px;
  top:420px;
  width:10px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u5 {
  position:absolute;
  left:114px;
  top:500px;
  width:149px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:45px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:264px;
  top:500px;
  width:149px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:45px;
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:224px;
  top:507px;
  width:28px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:124px;
  top:506px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:372px;
  top:507px;
  width:30px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:276px;
  top:506px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:122px;
  top:526px;
  width:68px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:273px;
  top:526px;
  width:68px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:273px;
  top:403px;
  width:90px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:313px;
  top:420px;
  width:10px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u23_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u23_end {
  position:absolute;
  left:-5px;
  top:53px;
  width:20px;
  height:18px;
}
#u23_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:70px;
}
#u24 {
  position:absolute;
  left:390px;
  top:130px;
  width:42px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:420px;
  top:140px;
  width:200px;
  height:10px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u27 {
  position:absolute;
  left:450px;
  top:80px;
  width:391px;
  height:44px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:44px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:450px;
  top:160px;
  width:391px;
  height:39px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:39px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:684px;
  top:54px;
  width:157px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:460px;
  top:232px;
  width:107px;
  height:75px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:75px;
}
#u34 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:620px;
  top:232px;
  width:107px;
  height:75px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:75px;
}
#u36 {
  position:absolute;
  left:2px;
  top:30px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:660px;
  top:280px;
  width:52px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:27px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:670px;
  top:286px;
  width:42px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:640px;
  top:317px;
  width:170px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
