body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:20px;
  width:130px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:190px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:265px;
  top:190px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:405px;
  top:190px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:750px;
  top:100px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:750px;
  top:170px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:750px;
  top:260px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:750px;
  top:330px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:750px;
  top:400px;
  width:100px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:618px;
  top:150px;
  width:60px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:620px;
  top:342px;
  width:60px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:200px;
  top:220px;
  width:65px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u22_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:79px;
  height:20px;
}
#u23 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:365px;
  top:220px;
  width:40px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:505px;
  top:220px;
  width:113px;
  height:-52px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:117px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:93px;
  top:-62px;
  width:20px;
  height:72px;
}
#u26_seg2 {
  position:absolute;
  left:93px;
  top:-62px;
  width:24px;
  height:20px;
}
#u27 {
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:505px;
  top:220px;
  width:115px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:119px;
  height:20px;
}
#u28_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:160px;
}
#u28_seg2 {
  position:absolute;
  left:95px;
  top:130px;
  width:24px;
  height:20px;
}
#u29 {
  position:absolute;
  left:55px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:678px;
  top:168px;
  width:72px;
  height:-38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:56px;
  height:20px;
}
#u30_seg1 {
  position:absolute;
  left:32px;
  top:-48px;
  width:20px;
  height:58px;
}
#u30_seg2 {
  position:absolute;
  left:32px;
  top:-48px;
  width:44px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-8px;
  top:-21px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:678px;
  top:168px;
  width:72px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:56px;
  height:20px;
}
#u32_seg1 {
  position:absolute;
  left:32px;
  top:-10px;
  width:20px;
  height:52px;
}
#u32_seg2 {
  position:absolute;
  left:32px;
  top:22px;
  width:44px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-8px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:680px;
  top:360px;
  width:70px;
  height:-70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u34_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u34_seg1 {
  position:absolute;
  left:20px;
  top:-80px;
  width:20px;
  height:90px;
}
#u34_seg2 {
  position:absolute;
  left:20px;
  top:-80px;
  width:54px;
  height:20px;
}
#u35 {
  position:absolute;
  left:-20px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:680px;
  top:360px;
  width:70px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u37 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:680px;
  top:360px;
  width:70px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u38_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:44px;
  height:20px;
}
#u38_seg1 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:90px;
}
#u38_seg2 {
  position:absolute;
  left:20px;
  top:60px;
  width:54px;
  height:20px;
}
#u39 {
  position:absolute;
  left:-20px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:100px;
  top:330px;
  width:140px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
